@import "../bower_components/c3/c3.css";

.mdl-layout__header {
  min-height: 44px;
}

.graph-content {
  margin: 0 40px;
}

.page-content {
  height: calc(70vh - 64px);
  background: #607D8B;
}

.mdl-layout__tab-bar,
.mdl-layout__tab-bar-button {
  background: #455A64;
}
